<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
      <section name="NepseApp.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="tms_host" value="https://tms49.nepsetms.com.np/"/>
    <add key="tms_username" value="SS482167"/>
    <add key="tms_password" value=""/>
  </appSettings>
  <userSettings>
    <NepseApp.Settings>
      <setting name="SelectedTab" serializeAs="String">
        <value>DashboardPage</value>
      </setting>
    </NepseApp.Settings>
  </userSettings>
</configuration>