<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
      <section name="NepseApp.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="max_retry" value="3"/>
    <add key="data_source" value="%AppData%\finance.db3"/>
  </appSettings>
  <userSettings>
    <NepseApp.Settings>
      <setting name="SelectedTab" serializeAs="String">
        <value>SettingsPage</value>
      </setting>
      <setting name="TmsBaseUrl" serializeAs="String">
        <value>https://tms49.nepsetms.com.np</value>
      </setting>
    </NepseApp.Settings>
  </userSettings>
</configuration>