<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmp982E5DECEE76A226011846689B9D0FE6" Guid="{313214FB-6846-4F14-9628-0418D321E5B5}">
                <File Id="fil518ACC7F41C6FD0A07B8DDBC34D608FB" KeyPath="yes" Source="$(var.BasePath)\Dapper.dll" />
            </Component>
            <Component Id="cmp3A3DCB2CB767F63098FA411AE7BB90A7" Guid="{ED0B4B2B-6931-4E0C-80DC-AF3D2FE55C87}">
                <File Id="filC88A84AAA7679BB1CC51240EFA2EB406" KeyPath="yes" Source="$(var.BasePath)\DryIoc.dll" />
            </Component>
            <Component Id="cmp60805430DA62A620ADC712537D30F06A" Guid="{2CEDC534-E7B2-453D-9FC5-E26C73F94A69}">
                <File Id="filDB1D736833CDA4D30509594A7B6D0162" KeyPath="yes" Source="$(var.BasePath)\LiveCharts.dll" />
            </Component>
            <Component Id="cmpB80EB57EF2904D1A74E508B15C150404" Guid="{19C73DA9-087C-424B-9DC9-2F83958EB409}">
                <File Id="filCBE997A6CD849E4DF004F21120DE6B94" KeyPath="yes" Source="$(var.BasePath)\LiveCharts.Wpf.dll" />
            </Component>
            <Component Id="cmpF79A41B26948F126556619AD15586E53" Guid="{FDF1D66C-154F-4C88-A898-6992B7053039}">
                <File Id="filD65CB2C411B671E247C0C842FF9ED3FA" KeyPath="yes" Source="$(var.BasePath)\MaterialDesignColors.dll" />
            </Component>
            <Component Id="cmp0550D586A2B90D7B437A969506D79DE6" Guid="{B0B28C4D-8B21-4934-9228-814B330A9A63}">
                <File Id="fil829CF9F462E29648DB156334B379517E" KeyPath="yes" Source="$(var.BasePath)\MaterialDesignExtensions.dll" />
            </Component>
            <Component Id="cmp6D59DB1C8695088F09FD7F0B07ECD487" Guid="{CC0C3FEC-1C76-4D96-8FD6-B386E6062B14}">
                <File Id="fil13620EBEA6F6420A02C733F8682CD641" KeyPath="yes" Source="$(var.BasePath)\MaterialDesignThemes.Wpf.dll" />
            </Component>
            <Component Id="cmp75E1D360F7F3BEA782095608B95EAF01" Guid="{D8E859D3-1D9A-4F54-A17D-D653D3BF6ECA}">
                <File Id="filB2EC777A0DF3BC93E22F83FF2D6AA439" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Caching.Abstractions.dll" />
            </Component>
            <Component Id="cmp47B9C1CDB4B766E8C1572505E98E4035" Guid="{F20F9EBF-0EAA-40F9-A5E1-3654741CE7A8}">
                <File Id="fil64C18EEB612BDE1E8703C04B205ED0F6" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Caching.Memory.dll" />
            </Component>
            <Component Id="cmp198468A4AE980CD6955CB6EB86083726" Guid="{FAC9A781-EBCD-47D7-907D-B5910D5F90D0}">
                <File Id="fil02E4E4D119BFC4831CEA5A71F1288443" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
            </Component>
            <Component Id="cmp8C674FD6A69988A60A77A4CEE0F53781" Guid="{9E42848B-4ED0-4404-8086-992BAE342FCB}">
                <File Id="fil72342637E9F74EE945317D4603CEBA2F" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Logging.Abstractions.dll" />
            </Component>
            <Component Id="cmp3279C150AE8DF554FD7EEE2085672A2B" Guid="{76380B1E-25B5-4E8A-808B-7652FE5A8FDA}">
                <File Id="filA8D1F5D61FD7BC25099F707CBF5B1F24" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Options.dll" />
            </Component>
            <Component Id="cmp946145B53A7DCDFA822B0EFD2314FAB6" Guid="{DABFA0D0-1F95-46B6-980E-DB6FB1D42DF9}">
                <File Id="fil773F29942324AAB2A7E1977E1AC63609" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Primitives.dll" />
            </Component>
            <Component Id="cmp8AC833CFB7DC6722697152FE46DA157A" Guid="{956A71F2-96E9-43B9-8C01-44B894CDBDA4}">
                <File Id="filD3CAD095889A5DE7EAAE25C73BC9910A" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Xaml.Behaviors.dll" />
            </Component>
            <Component Id="cmpE3683CABF807AB4CDB1D35A94657DAD7" Guid="{F81FC8B5-C4EE-4E1A-BEAA-1E382CA4B2EF}">
                <File Id="filBC6494902E4EBAEE4669D4FCC0D72931" KeyPath="yes" Source="$(var.BasePath)\NepseApp.deps.json" />
            </Component>
            <Component Id="cmp3099131FAAA96AB679D97702D7DED1C9" Guid="{DA39BDF6-EEEF-4E04-AFD3-AACDC32917C4}">
                <File Id="fil9B44CF84FFEE99D3F03DD347560C4D77" KeyPath="yes" Source="$(var.BasePath)\NepseApp.dll" />
            </Component>
            <Component Id="cmp8A350AFDD047831D240DFDDCC412F207" Guid="{37017B7A-99C2-4D52-BCF7-2AD7F582EDC4}">
                <File Id="fil78DC910F4EF7216B76DCE7E73E27AE15" KeyPath="yes" Source="$(var.BasePath)\NepseApp.dll.config" />
            </Component>
            <Component Id="cmpC4888F14FC043F6690D8BA6D0D191AD9" Guid="{E9771DF8-62FC-458E-81B2-FFDE19ADF98A}">
                <File Id="filF88E897B2A973F263421A7C89ED43F01" KeyPath="yes" Source="$(var.BasePath)\NepseApp.exe" />
            </Component>
            <Component Id="cmp682F71825C857494200D0B7440D736C2" Guid="{176D9CF2-31E8-4413-A99F-17838D7A27E8}">
                <File Id="fil06FBBF70670CF010425B7737EB1060A1" KeyPath="yes" Source="$(var.BasePath)\NepseApp.pdb" />
            </Component>
            <Component Id="cmp5A158F595610BEFB45C88154822621FA" Guid="{586BCE38-CCD7-4649-B9ED-D175593F9054}">
                <File Id="filD0406D0D689E9E01A4E7B211108EF97F" KeyPath="yes" Source="$(var.BasePath)\NepseApp.runtimeconfig.json" />
            </Component>
            <Component Id="cmpB7752922EF1B2245EDE17289C17690AA" Guid="{E60DB95C-4038-4273-BD7F-52F168BD7DF1}">
                <File Id="filBC2739B940F68D67EF88BFB1DCF55EE4" KeyPath="yes" Source="$(var.BasePath)\NepseClient.Commons.dll" />
            </Component>
            <Component Id="cmp26812B30A9C7927E2D814269100CD802" Guid="{05EEA9D9-1A7B-447C-B3D0-ACB6DCD5D21F}">
                <File Id="filB8FFBCB11C03FC982DF30CAFC5029FD1" KeyPath="yes" Source="$(var.BasePath)\NepseClient.Commons.pdb" />
            </Component>
            <Component Id="cmp51A4E2CB8223D6F0F8E8E244C2700EC5" Guid="{6F400F5D-022F-43C0-BB83-92D2E6D2A5CC}">
                <File Id="fil9DE241B7E82F479839A6E9467DD0A267" KeyPath="yes" Source="$(var.BasePath)\NepseClient.Libraries.MeroShare.dll" />
            </Component>
            <Component Id="cmp0F79F2882C81BE93B515F9292B8E56EF" Guid="{E88E09BB-C4E9-483A-8B0F-2489DCE612E0}">
                <File Id="fil8845FCF3D642EB7374FDDF21C91BCA01" KeyPath="yes" Source="$(var.BasePath)\NepseClient.Libraries.MeroShare.pdb" />
            </Component>
            <Component Id="cmpF618E4215EACDD04DD498480556BCFF5" Guid="{AC30F133-F5AB-4650-AA0A-73E65DBDBC14}">
                <File Id="filB302993AC80086648E54805EC0AE338B" KeyPath="yes" Source="$(var.BasePath)\NepseClient.Libraries.NepalStockExchange.dll" />
            </Component>
            <Component Id="cmpA1982C7458041B3CB403128E9653086A" Guid="{48799A78-D27C-40BB-AD70-01D9C8D7E67C}">
                <File Id="filE97F19FCF37A1D5F4545081F12EBB987" KeyPath="yes" Source="$(var.BasePath)\NepseClient.Libraries.NepalStockExchange.pdb" />
            </Component>
            <Component Id="cmp68B8F3E418B19AA7F775FF1C63B00264" Guid="{3E041DE0-F0A6-4333-8175-6DEBA23EC65F}">
                <File Id="fil7557E9F86022961D440B1326F81DCCA9" KeyPath="yes" Source="$(var.BasePath)\NepseClient.Libraries.TradeManagementSystem.dll" />
            </Component>
            <Component Id="cmpA86BAE2C1085E48F2F3A2C1F08AC9C08" Guid="{E31D8763-56DB-49FE-A958-7B4D6DF85FAA}">
                <File Id="filCDAF355EAF1A509A2CABD9B966E5E0C2" KeyPath="yes" Source="$(var.BasePath)\NepseClient.Libraries.TradeManagementSystem.pdb" />
            </Component>
            <Component Id="cmpC7423CF3D220C50D348D403DC53E710F" Guid="{F90B420D-0E16-4FF6-8CD5-9DDDCAC6237D}">
                <File Id="filB6897A8C95596AEB9AF2D6A6A42C97DB" KeyPath="yes" Source="$(var.BasePath)\NepseClient.Modules.Commons.dll" />
            </Component>
            <Component Id="cmp4218E03D86E76F89CFD9D74F6C98D387" Guid="{35A62B19-FC86-4A68-B4B8-EE2C30130404}">
                <File Id="fil5BA1EEED1318FE183106B2EC7DB6A49D" KeyPath="yes" Source="$(var.BasePath)\NepseClient.Modules.Commons.pdb" />
            </Component>
            <Component Id="cmp668FDAF5F1EBD1DCF88B430572EF6C93" Guid="{11C6F9AA-A9C6-4872-903C-393305CD5F8A}">
                <File Id="filE53EE0AC1E7D16AA62B83687BD65EBAE" KeyPath="yes" Source="$(var.BasePath)\NepseClient.Modules.MeroShare.dll" />
            </Component>
            <Component Id="cmp1D1D82F2C437178477B79DC92F7A8347" Guid="{4CA42AFC-55A1-44BF-8C54-4552EAD26723}">
                <File Id="fil8BFA66F92584480F09B8B09A29AEDEA5" KeyPath="yes" Source="$(var.BasePath)\NepseClient.Modules.MeroShare.pdb" />
            </Component>
            <Component Id="cmp48196C8E6CE00D01072389A668E7922A" Guid="{BBF3C41E-CB30-474B-A0CC-60DF979664C6}">
                <File Id="fil366CBC0C5876299B29565963E51A081F" KeyPath="yes" Source="$(var.BasePath)\NepseClient.Modules.Stocks.dll" />
            </Component>
            <Component Id="cmp13A5B32F04C4DDDA5800CE519D5D7C70" Guid="{A2E116DA-A1D0-4DC0-8D52-EFF0BB7FCDC9}">
                <File Id="fil6E062D1AE12084928508BB7B958FA8E2" KeyPath="yes" Source="$(var.BasePath)\NepseClient.Modules.Stocks.pdb" />
            </Component>
            <Component Id="cmpE82032396B127E82A6016A372F9B5858" Guid="{45427ACD-9DD4-43C6-9D28-7A77B95D910A}">
                <File Id="fil7CDBD8521B5AEB9F3BD0D7E5621B630A" KeyPath="yes" Source="$(var.BasePath)\NepseClient.Modules.TradeManagementSystem.dll" />
            </Component>
            <Component Id="cmp692C1D2EE6016FA0A4A9D0A1DD2BAABF" Guid="{E7A63FB1-C3A6-45CB-A6EB-FCF74EA7CFB6}">
                <File Id="fil58FE72C47F6E365DAF8CF467A5F8E669" KeyPath="yes" Source="$(var.BasePath)\NepseClient.Modules.TradeManagementSystem.pdb" />
            </Component>
            <Component Id="cmpBC4FC00A26E7D32479D42D3411317FC5" Guid="{BD582F55-C0BA-4037-A561-0367E07F453F}">
                <File Id="fil90A8AAD9FC612906D405476D61CEA3F4" KeyPath="yes" Source="$(var.BasePath)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="cmp004EBDA7B4654F34E4306D87E1B6DAAD" Guid="{DE344B6C-3D71-44B1-9C16-62453F5EAAAE}">
                <File Id="fil1830DCE067D7FF4F8E141766A064858A" KeyPath="yes" Source="$(var.BasePath)\Ookii.Dialogs.WinForms.dll" />
            </Component>
            <Component Id="cmp03D7B650F8B878E4777A46EDB795761F" Guid="{EBC6FD62-931A-4B09-AFCA-0873DDE837AD}">
                <File Id="fil25E0BE43AC66696960DD057BF437E6CE" KeyPath="yes" Source="$(var.BasePath)\Ookii.Dialogs.Wpf.dll" />
            </Component>
            <Component Id="cmp59564654D02343646998A8D6A6F0C25F" Guid="{7A088AEF-1822-4DC5-BC54-49A61D142068}">
                <File Id="fil86F2842A309A2CABD479166F2B4E0588" KeyPath="yes" Source="$(var.BasePath)\Prism.dll" />
            </Component>
            <Component Id="cmp1D8C6ABF55C2B2B4242EE9F241074EAC" Guid="{C202DBC9-3E94-473F-B3CD-58B254605B02}">
                <File Id="fil4D3E845D168B89C1E51082CEE83971C8" KeyPath="yes" Source="$(var.BasePath)\Prism.DryIoc.Wpf.dll" />
            </Component>
            <Component Id="cmpA9A2AB3353E22A8DA16EAAEE63473B2F" Guid="{13713A15-2397-4797-9420-6183239C08E9}">
                <File Id="fil88EDC55735A4B2968B2469EF3EB5D6E7" KeyPath="yes" Source="$(var.BasePath)\Prism.Wpf.dll" />
            </Component>
            <Component Id="cmp43571D5B3C98C620B91CFB722AB036A9" Guid="{11DDB849-F476-499D-880B-6475CB00F14F}">
                <File Id="fil25C6F19EFB20FE77CA17650F918CB561" KeyPath="yes" Source="$(var.BasePath)\RestSharp.dll" />
            </Component>
            <Component Id="cmp4D9F0D5881D7FB405A1F1CC3DF3CC4EF" Guid="{26D6A023-13DE-4C5B-9DBE-A77342ED1EFB}">
                <File Id="fil5FD5B6D95886C1BF594F0CE1967E3341" KeyPath="yes" Source="$(var.BasePath)\RestSharp.Serializers.NewtonsoftJson.dll" />
            </Component>
            <Component Id="cmp74A2C73F11C177073B0A672936A0D5EB" Guid="{4E46275C-3AF4-4B15-97BC-37AC1FD723FF}">
                <File Id="fil1CF141D24266A4E5F331DDFE02166A27" KeyPath="yes" Source="$(var.BasePath)\Serilog.dll" />
            </Component>
            <Component Id="cmpC08CEB1C24E4A6DA79EE83CFD8BDCD60" Guid="{CABEE69F-6FBC-4E96-8C2E-4D3F4820C534}">
                <File Id="filD89F64F083730E2B8CC0DEE7002EF506" KeyPath="yes" Source="$(var.BasePath)\Serilog.Formatting.Compact.dll" />
            </Component>
            <Component Id="cmp539EB192BE11EA8C5B17EFB0CC1DDCEB" Guid="{88588AA2-9999-45C5-A136-3510C8B9DEA6}">
                <File Id="filB637049630FB5D2AC00236DBD60DD2BE" KeyPath="yes" Source="$(var.BasePath)\Serilog.Sinks.Console.dll" />
            </Component>
            <Component Id="cmp49818C715FF04B8E95F7B53BDDD323EF" Guid="{E44EDE2B-5C02-478F-B42F-97A690731F64}">
                <File Id="fil1A12B15365165DDBE60433B150808BEE" KeyPath="yes" Source="$(var.BasePath)\Serilog.Sinks.File.dll" />
            </Component>
            <Component Id="cmp49125E5013602B31260BC5A53372B428" Guid="{DD7C2DB3-E710-4C90-94C1-2273F06BD64A}">
                <File Id="fil9DE71016B7D050906084ADC7BE601092" KeyPath="yes" Source="$(var.BasePath)\SQLite.Interop.dll" />
            </Component>
            <Component Id="cmp6B7CE49F5F3A518047B74FB6AC2251C5" Guid="{68A0897C-1204-4262-A000-3C010C5E9357}">
                <File Id="fil86030949C08D40073D1F77D572C14B0D" KeyPath="yes" Source="$(var.BasePath)\System.Data.SQLite.dll" />
            </Component>
            <Directory Id="dir59276917AB53DAC79170759082206D68" Name="ar-DZ">
                <Component Id="cmp65896259F3F1DC3C2AB513FCE4683445" Guid="{041E8B91-8FB5-4E43-BB7F-C96A5F2C7C34}">
                    <File Id="fil7D7AC0A5A6F5DED8F792D55A1D3E8BB0" KeyPath="yes" Source="$(var.BasePath)\ar-DZ\MaterialDesignExtensions.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirB15F4604371D144EAEEAD44FE901D873" Name="cs">
                <Component Id="cmpD84A04FEA8E88CBCDA0B6FEFDC4B8F88" Guid="{591816B2-1214-4A2D-96FB-626A2D5DAF44}">
                    <File Id="filC0A1BF84B9A8F92198F3C480931C1EAC" KeyPath="yes" Source="$(var.BasePath)\cs\MaterialDesignExtensions.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir685A0806E2E8E14FA0BEED541D816845" Name="cs-CZ">
                <Component Id="cmp8F5F1A4AD406E964FBAFE6C12EAA4E71" Guid="{3BCC5657-2446-4830-B788-8D5237ABEFDD}">
                    <File Id="fil88B14AD07CD3D540837028655E037B2C" KeyPath="yes" Source="$(var.BasePath)\cs-CZ\MaterialDesignExtensions.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir242DC17B8DFC53C13CAF172FC08B730A" Name="de">
                <Component Id="cmp37D2B7896136C819DE20CDD53F8D4323" Guid="{9272189C-D4FF-45E9-9D7F-F203F3AAC713}">
                    <File Id="fil529D1E149847AED728C6385F9C1D43A4" KeyPath="yes" Source="$(var.BasePath)\de\MaterialDesignExtensions.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirB55DFDA91FEE7CCCBC65CA7493B75748" Name="fr">
                <Component Id="cmp171B8A84EF0D5647295A0B9297FADDDD" Guid="{F71F9A6F-9370-4E13-B535-F8EE44D91939}">
                    <File Id="filA5BBB969D6528B948A6F11ED71216F00" KeyPath="yes" Source="$(var.BasePath)\fr\MaterialDesignExtensions.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir83A5A46E4C0778C480C853AB49248682" Name="fr-FR">
                <Component Id="cmp2B4882355534B69C3B55442A5C7D6EE0" Guid="{3D901EE3-43A4-49F8-B1DA-37E26CB03853}">
                    <File Id="fil2018C3072FC303AB97048C381EDFF266" KeyPath="yes" Source="$(var.BasePath)\fr-FR\MaterialDesignExtensions.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir8606A94F8723F2ACAF42032E593433C7" Name="pt">
                <Component Id="cmpD39DAD35901BA63723E6C2A71062A4A8" Guid="{D2F0A27D-571C-452C-8518-F7C4934BC644}">
                    <File Id="fil9B8963C9F726EDF35FE1E6C4E60F73E6" KeyPath="yes" Source="$(var.BasePath)\pt\MaterialDesignExtensions.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir339F53F3A11C56B053FD1FEC9B438810" Name="pt-BR">
                <Component Id="cmp71F66EE6E4496BE837520F9B6CC4ACD1" Guid="{6AAADF45-3598-47FA-B60A-CFC2AB70A612}">
                    <File Id="fil4C38170BB6DB08B448EC8C0289DD3DFB" KeyPath="yes" Source="$(var.BasePath)\pt-BR\MaterialDesignExtensions.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir56F74B384CB12C6A76741FDC9CE91D35" Name="Ru">
                <Component Id="cmp881AF231C6F7127356D26FB94E0DF37C" Guid="{E598071A-C89C-4683-AE73-F284F3F38283}">
                    <File Id="filB12A95E368CDAB9022DA45EF50196477" KeyPath="yes" Source="$(var.BasePath)\Ru\MaterialDesignExtensions.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir033DCB4BBD7B9101BEF7C829C5BE9477" Name="ru-ru">
                <Component Id="cmp01255EFCE476F48D24D8EC1E5DF1AFAD" Guid="{A2308319-5452-411B-950F-04A3D10F4320}">
                    <File Id="fil1F4C5A90924903F96632A21EB7B94A24" KeyPath="yes" Source="$(var.BasePath)\ru-ru\MaterialDesignExtensions.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir598534A9A725378241C7A1558C1841A7" Name="uz-Latn-UZ">
                <Component Id="cmp2544370E8C530FC910C20F4E231874C5" Guid="{5532F88F-0CB4-4C08-9CB7-0CAA6F7A0FB8}">
                    <File Id="fil0290025A70FDCC652E40C9E5A2C412C3" KeyPath="yes" Source="$(var.BasePath)\uz-Latn-UZ\MaterialDesignExtensions.resources.dll" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PublishedComponents">
            <ComponentRef Id="cmp982E5DECEE76A226011846689B9D0FE6" />
            <ComponentRef Id="cmp3A3DCB2CB767F63098FA411AE7BB90A7" />
            <ComponentRef Id="cmp60805430DA62A620ADC712537D30F06A" />
            <ComponentRef Id="cmpB80EB57EF2904D1A74E508B15C150404" />
            <ComponentRef Id="cmpF79A41B26948F126556619AD15586E53" />
            <ComponentRef Id="cmp0550D586A2B90D7B437A969506D79DE6" />
            <ComponentRef Id="cmp6D59DB1C8695088F09FD7F0B07ECD487" />
            <ComponentRef Id="cmp75E1D360F7F3BEA782095608B95EAF01" />
            <ComponentRef Id="cmp47B9C1CDB4B766E8C1572505E98E4035" />
            <ComponentRef Id="cmp198468A4AE980CD6955CB6EB86083726" />
            <ComponentRef Id="cmp8C674FD6A69988A60A77A4CEE0F53781" />
            <ComponentRef Id="cmp3279C150AE8DF554FD7EEE2085672A2B" />
            <ComponentRef Id="cmp946145B53A7DCDFA822B0EFD2314FAB6" />
            <ComponentRef Id="cmp8AC833CFB7DC6722697152FE46DA157A" />
            <ComponentRef Id="cmpE3683CABF807AB4CDB1D35A94657DAD7" />
            <ComponentRef Id="cmp3099131FAAA96AB679D97702D7DED1C9" />
            <ComponentRef Id="cmp8A350AFDD047831D240DFDDCC412F207" />
            <ComponentRef Id="cmpC4888F14FC043F6690D8BA6D0D191AD9" />
            <ComponentRef Id="cmp682F71825C857494200D0B7440D736C2" />
            <ComponentRef Id="cmp5A158F595610BEFB45C88154822621FA" />
            <ComponentRef Id="cmpB7752922EF1B2245EDE17289C17690AA" />
            <ComponentRef Id="cmp26812B30A9C7927E2D814269100CD802" />
            <ComponentRef Id="cmp51A4E2CB8223D6F0F8E8E244C2700EC5" />
            <ComponentRef Id="cmp0F79F2882C81BE93B515F9292B8E56EF" />
            <ComponentRef Id="cmpF618E4215EACDD04DD498480556BCFF5" />
            <ComponentRef Id="cmpA1982C7458041B3CB403128E9653086A" />
            <ComponentRef Id="cmp68B8F3E418B19AA7F775FF1C63B00264" />
            <ComponentRef Id="cmpA86BAE2C1085E48F2F3A2C1F08AC9C08" />
            <ComponentRef Id="cmpC7423CF3D220C50D348D403DC53E710F" />
            <ComponentRef Id="cmp4218E03D86E76F89CFD9D74F6C98D387" />
            <ComponentRef Id="cmp668FDAF5F1EBD1DCF88B430572EF6C93" />
            <ComponentRef Id="cmp1D1D82F2C437178477B79DC92F7A8347" />
            <ComponentRef Id="cmp48196C8E6CE00D01072389A668E7922A" />
            <ComponentRef Id="cmp13A5B32F04C4DDDA5800CE519D5D7C70" />
            <ComponentRef Id="cmpE82032396B127E82A6016A372F9B5858" />
            <ComponentRef Id="cmp692C1D2EE6016FA0A4A9D0A1DD2BAABF" />
            <ComponentRef Id="cmpBC4FC00A26E7D32479D42D3411317FC5" />
            <ComponentRef Id="cmp004EBDA7B4654F34E4306D87E1B6DAAD" />
            <ComponentRef Id="cmp03D7B650F8B878E4777A46EDB795761F" />
            <ComponentRef Id="cmp59564654D02343646998A8D6A6F0C25F" />
            <ComponentRef Id="cmp1D8C6ABF55C2B2B4242EE9F241074EAC" />
            <ComponentRef Id="cmpA9A2AB3353E22A8DA16EAAEE63473B2F" />
            <ComponentRef Id="cmp43571D5B3C98C620B91CFB722AB036A9" />
            <ComponentRef Id="cmp4D9F0D5881D7FB405A1F1CC3DF3CC4EF" />
            <ComponentRef Id="cmp74A2C73F11C177073B0A672936A0D5EB" />
            <ComponentRef Id="cmpC08CEB1C24E4A6DA79EE83CFD8BDCD60" />
            <ComponentRef Id="cmp539EB192BE11EA8C5B17EFB0CC1DDCEB" />
            <ComponentRef Id="cmp49818C715FF04B8E95F7B53BDDD323EF" />
            <ComponentRef Id="cmp49125E5013602B31260BC5A53372B428" />
            <ComponentRef Id="cmp6B7CE49F5F3A518047B74FB6AC2251C5" />
            <ComponentRef Id="cmp65896259F3F1DC3C2AB513FCE4683445" />
            <ComponentRef Id="cmpD84A04FEA8E88CBCDA0B6FEFDC4B8F88" />
            <ComponentRef Id="cmp8F5F1A4AD406E964FBAFE6C12EAA4E71" />
            <ComponentRef Id="cmp37D2B7896136C819DE20CDD53F8D4323" />
            <ComponentRef Id="cmp171B8A84EF0D5647295A0B9297FADDDD" />
            <ComponentRef Id="cmp2B4882355534B69C3B55442A5C7D6EE0" />
            <ComponentRef Id="cmpD39DAD35901BA63723E6C2A71062A4A8" />
            <ComponentRef Id="cmp71F66EE6E4496BE837520F9B6CC4ACD1" />
            <ComponentRef Id="cmp881AF231C6F7127356D26FB94E0DF37C" />
            <ComponentRef Id="cmp01255EFCE476F48D24D8EC1E5DF1AFAD" />
            <ComponentRef Id="cmp2544370E8C530FC910C20F4E231874C5" />
        </ComponentGroup>
    </Fragment>
</Wix>